<!-- Header -->
<app-topbar></app-topbar>
<!-- /Header -->

<!-- Sidebar -->
<app-side-navbar></app-side-navbar>
<!-- /Sidebar -->

<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Manage Devices</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Manage Devices</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <button type="button" (click)="open(addmodal)" class="btn btn-primary float-right mt-2">Add</button>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Device Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table datatable [dtOptions]="dtOptions" class="datatable table table-stripped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Device ID</th>
                  <th>Lat</th>
                  <th>Lan</th>
                  <th>District</th>
                </tr>
                </thead>
                <tbody *ngIf="devices?.length != 0">
                <tr *ngFor="let device of devices">
                  <td>{{ device.id }}</td>
                  <td>{{ device.device_id }}</td>
                  <td>{{ device.lat }}</td>
                  <td>{{ device.lan }}</td>
                  <td>{{ device.district }}</td>
                  <td>{{ device.user }}</td>
                  <td>
<!--                    <a data-toggle="modal" (click)="removeUser(user.id)" class="btn btn-sm bg-danger-light ml-1">-->
<!--                      <i class="fe fe-trash"></i> Delete-->
<!--                    </a>-->
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="devices?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<ng-template #addmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Device</h4>
<!--    <button type="button" class="close" data-dismiss="modal" (click)="close(addmodal)" aria-label="Close">-->
<!--      <span aria-hidden="true">×</span>-->
<!--    </button>-->
  </div>

  <div class="modal-body">
    <form (ngSubmit)="saveDevice()">
      <div class="row form-row">
        <div class="col-12">
          <div class="form-group">
            <label>Device Id</label>
            <input type="text" name="device_id" [(ngModel)]="device.device_id" class="form-control">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Lat</label>
            <input type="text" name="lat" [(ngModel)]="device.lat" class="form-control">
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Lan</label>
            <input type="text" name="lan" [(ngModel)]="device.lan" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>District</label>
            <input type="text" name="district" [(ngModel)]="device.district" class="form-control">
          </div>
        </div>


      </div>
      <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
    </form>
  </div>

</ng-template>
<!-- /ADD Modal -->


<script>
  $(document).ready(function () {
    console.log("loaded")



  });

</script>
